<div class="jumbotron jumbotron-fluid text-white jumbotron-image shadow" style="background-image: url();">
   <div class="container py-4">
       <h2 class="mb-4">Welcome to west Pack Fm</h2>
       <p class="lead">Important message goes here</p>
       <a href="#" class="btn btn-primary">More info</a>
    </div> 
</div>

<section class="home-section d-flex flex-wrap">
    <!-- START OF LEFT SIDE AREA-->
    <div class="post-sidebar-area left-sidebar mt-30 mb-30 box-shadow bg-white">
        <div class="single-sidebar p-30">
            <div class="section-heading">
                <h5>Most Popular</h5>
            </div>
            <!-- Single Blog Post -->
            <div class="single-blog-post d-flex">
                <div class="post-thumbnail">
                    <img src="assets/images/bg-img/4.jpg" alt="">
                </div>
                <div class="post-content">
                    <a href="#" class="post-title">PodCast Title or video Title</a>
                    <div class="post-meta d-flex justify-content-between">
                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 84</a>
                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                    </div>
                </div>
            </div>

            <!-- Single Blog Post -->
            <div class="single-blog-post d-flex">
                <div class="post-thumbnail">
                    <img src="assets/images/bg-img/4.jpg" alt="">
                </div>
                <div class="post-content">
                    <a href="#" class="post-title">PodCast Title or video Title</a>
                    <div class="post-meta d-flex justify-content-between">
                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 84</a>
                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="single-sidebar p-30">
            <div class="section-heading">
                <h5>Trending Now</h5>
            </div>
            <!-- Single Blog Post -->
            <div class="single-blog-post d-flex">
                <div class="post-thumbnail">
                    <img src="assets/images/bg-img/4.jpg" alt="">
                </div>
                <div class="post-content">
                    <a href="#" class="post-title">PodCast Title or video Title</a>
                    <div class="post-meta d-flex justify-content-between">
                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 84</a>
                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                    </div>
                </div>
            </div>
        
            <!-- Single Blog Post -->
            <div class="single-blog-post d-flex">
                <div class="post-thumbnail">
                    <img src="assets/images/bg-img/4.jpg" alt="">
                </div>
                <div class="post-content">
                    <a href="#" class="post-title">PodCast Title or video Title</a>
                    <div class="post-meta d-flex justify-content-between">
                        <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 34</a>
                        <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 84</a>
                        <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 14</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END OF LEFT SIDE AREA -->

    <!-- START OF MAIN AREA -->
    <div class="mag-posts-content mt-30 mb-30 p-30 box-shadow">
        
    </div>
    
    <!-- END MAIN AREA-->

    <!-- START OF RIGHT SIDE AREA-->

    <div class="post-sidebar-area right-sidebar mt-30 mb-30 box-shadow">
        <div class="single-sidebar-widget p-30">
            <!-- Social Followers Info -->
            <div class="social-followers-info">
                <!-- IG -->
                <a href="#" class="instagram-fans"><i class="fa fa-instagram"></i> 433773 <span>Followers</span></a>
                <!-- Facebook -->
                <a href="#" class="facebook-fans"><i class="fa fa-facebook"></i> 433773 <span>Fans</span></a>
                <!-- Twitter -->
                <a href="#" class="twitter-followers"><i class="fa fa-twitter"></i> 3877 <span>Followers</span></a>
                <!-- YouTube -->
                <a href="#" class="youtube-subscribers"><i class="fa fa-youtube"></i> 1120 <span>Subscribers</span></a>
            </div>
        </div>

        <!-- Sidebar Widget -->
        <div class="single-sidebar-widget p-30">
            <!-- Section Title -->
            <div class="section-heading">
                <h5>Categories</h5>
            </div>
        
            <!-- Catagory Widget -->
            <ul class="catagory-widgets">
                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Life Style</span>
                        <span>35</span></a></li>
                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Travel</span>
                        <span>30</span></a></li>
                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Foods</span>
                        <span>13</span></a></li>
                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Game</span>
                        <span>06</span></a></li>
                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Sports</span>
                        <span>28</span></a></li>
                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Football</span>
                        <span>08</span></a></li>
                <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> TV Show</span>
                        <span>13</span></a></li>
            </ul>
        </div>

        <div class="single-sidebar-widget p-30">
            <!-- Section Title -->
            <div class="section-heading">
                <h5>Newsletter</h5>
            </div>
        
            <div class="newsletter-form">
                <p>Subscribe our newsletter and get notification about new updates, information discount, etc.</p>
                <form action="#" method="get">
                    <input type="search" name="widget-search" placeholder="Enter your email">
                    <button type="submit" class="btn mag-btn w-100">Subscribe</button>
                </form>
            </div>
        
        </div>
    </div>

    <!-- END OF RIGHT SIDE AREA-->
</section>