<header class="header_area">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light shadow-sm">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">WestPackFm</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse"></div> 
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active"><a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/podcast">Podcast</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/videos">Videos</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/events">Events</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/blog">Blog</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/contact">Contact</a></li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-search"></i></a></li>
                    <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-user"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
